.menu-hero{
    position: relative;
    
}
.menu-header{
    @extend .new-header;
    background:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/menu-hero-02.jpg);
    
    
    

    .menu-heading{
        @extend .hero-heading;
    }
}

.menu-main{
    
    .menu-main-heading{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-size: 4rem;
            color: rgb(0,112,74);
            text-shadow: 7px 5px 0px rgba(0,0,0,0.3);
            margin: 5rem 0 3rem 0;
        }
    }
}

.menu-main-content{
    padding: 3rem 2rem;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    
    .side-nav{
        position: fixed;
        left: 3rem;
        top: 7rem;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        width: 20vw;
        
        
        a{
            max-width: 20vw;
            padding: 1.5rem;
            color: rgb(0, 112, 74);
            background: rgba(0,0,0,0.07);
            
            font-size: 1.5rem;
            transition: 0.3s;

            &:hover{
                color: rgb(255, 255, 255);
                background: rgb(0, 112, 74);
                border: none;
            }
        }
    }
    .products-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        width: 75vw;

        .product-card{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            min-height: 40vh;
            margin-bottom: 2rem;
            /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
            padding: 1rem;
            flex-basis: 30%;

            img{
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                margin-bottom: 1rem;
                border-radius: 1.5rem;
            }
            h3{
                font-size: 1.5rem;
                margin: 1.3rem;
                color: rgba(0, 0, 0, 1);
            }
            p{
                font-size: 1.2rem;
                max-width: 300px;
                margin-bottom: 0.5rem;
                color: rgba(0, 0, 0, 0.6);
                line-height: 1.8rem;
                text-align: justify;
            }
            .price{
                color: rgb(0, 112, 74);
                font-size: 1.2rem;
            }
        }
    }
}