.new-header {
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/whats-new-hero.jpg);
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-heading {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 4rem;
  }
}

.new-main {
  min-height: 100vh;

  .new-main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 4rem;
      color: rgb(0, 112, 74);
      text-shadow: 7px 5px 0px rgba(0, 0, 0, 0.3);
      margin: 8rem 0;
    }
  }
  .new-main-content {
    padding: 5rem 1rem;
    .new-main-card {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 5rem;
      min-height: 80vh;

      &:hover {
        justify-content: space-evenly;
      }

      img {
        border-radius: 1.5rem;
      }

      .new-main-card-content {
        max-width: 500px;
      }

      h3 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.3rem;
        color: rgba(0, 0, 0, 0.6);
        line-height: 2rem;
      }
    }
  }
}
