@media (min-width: 870px) and (max-width: 950px) {
  .navigation {
    ul {
      height: 80vh;
      margin-top: 10rem;
      a {
        font-size: 8rem;
        &::before {
          font-size: 5rem;
        }
      }
    }
  }
  .pandemic {
    padding: 0.6rem;
    min-height: 5vh;

    p {
      font-size: 1.3rem;
    }
  }
  .header {
    padding: 1rem 2rem;
    
      
      .logo {
        display: flex;
        img{
          max-height: 4rem;
          max-width: 100%;
        }
      }
      
        .toggle, .toggle.active {
          width: 60px;
          height: 60px;

          right: 3rem;
          top: 3rem;
          background-size: 35px;
        }
      
    
  }
  /* HOME PAGE START */
  .hero {
    flex-direction: column;
    padding: 1.5rem 1.5rem 5rem 1.5rem;
    .circle {
      clip-path: circle(14rem at 50% 10%);
    }
    .content {
      order: 0;
      margin-top: 10rem;

      .punch-line {
        font-size: 3.7rem;
      }
      .informative {
        font-size: 2.2rem;
        line-height: 3rem;
      }
    }
    .image-box {
      margin-bottom: 5rem;
      order: -1;
      img {
        max-width: 320px;
      }
    }
    .menu {
      a {
        font-size: 1.5rem;
        padding: 1.2rem;
      }
    }
    .thumbnail {
      bottom: 45%;
      width: 55vw;
      left: 53%;
      li {
        img {
          max-width: 60%;
        }
      }
    }
  }
  /* HOME PAGE END */
  /* NEW PAGE START */

  .new-header,
  .about-header {
    min-height: 30vh;
    background-position: 50% 20%;
    .hero-heading {
      font-size: 6rem;
    }
  }
  .new-main {
    .new-main-heading {
      padding: 2rem;
      display: flex;
      justify-content: center;
      h2 {
        font-size: 4rem;
        max-width: 400px;
        margin: 3rem 0 0 0;
        text-align: center;
      }
    }
    .new-main-content {
      padding: 2rem;
      .new-main-card {
        flex-direction: column;
        min-height: 100vh;
        .new-main-card-content {
          display: flex;
          align-items: center;
          flex-direction: column;
          max-width: 700px;
          h3 {
            font-size: 2.9rem;
            margin-bottom: 1rem;
            text-align: center;
          }
          p {
            font-size: 2rem;
            line-height: 3rem;
            text-align: justify;
          }
          .less-important-text {
            font-size: 1.5rem !important;
          }
        }
        img {
          max-width: 70%;
          border-radius: 1rem;

          order: -1;
        }
      }
    }
  }
  /* NEW PAGE END */
  /* MENU PAGE START */
  .mobile-menu {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    padding: 0.7rem 0.5rem;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(0, 112, 74);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 1rem;
    z-index: 1;
    transition: 0.3s;

    .menu-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      min-height: 10vh;
      word-wrap: break-word;
      max-width: 12%;
      i {
        font-size: 2.7rem;
        color: gold;
      }
      .menu-names {
        color: #fff;
        font-size: 2rem;
      }
    }
  }
  .menu-main {
    .menu-main-heading {
      h2 {
        font-size: 4rem;
        margin: 5rem 0 1rem 0;
      }
    }
  }
  .menu-main-content {
    flex-direction: column;
    padding: 2rem;
    .side-nav {
      display: none!important;
      width: 100%;
      .sidebar-btn {
        font-size: 1rem;
        max-width: 100%;
      }
    }
    .products-container {
      width: 100%;

      .product-card {
        margin-bottom: 5rem;
        flex-basis: 42%;
        h3 {
          font-size: 2.3rem;
          text-align: center;
          margin: 1.5rem 0;
        }
        h4 {
          font-size: 1.8rem;
          line-height: 2.2rem;
          text-align: justify;
        }
        h5 {
          font-size: 1.8rem;
        }
        img {
          max-width: 400px;
          margin-bottom: 2rem;
        }
      }
    }
  }
  /* MENU PAGE END */
  /* ABOUT PAGE START */
  .about {
    .mission,
    .company,
    .coffee {
      flex-direction: column;
      margin-bottom: 10rem;
      min-height: 100vh;
      img {
        max-width: 75%;
        border-radius: 1rem;
        order: -1;
      }
      .accordions {
        max-width: 75%;
        min-height: 18vh;
        .accordion {
          .content-box {
            .accordion-label {
              font-size: 2.5rem;
              padding: 1.5rem;
              &::before {
                font-size: 3rem;
              }
            }
            .accordion-content {
              font-size: 2.2rem;
            }
          }
        }
      }
    }
  }
  /* ABOUT PAGE END */
  .contact-header {
    background-position: 30% 27%;
  }
  .contact {
    padding: 5rem 4rem;
    .feedback-text-box {
      align-items: flex-start;
      .feedback {
        font-size: 2.5rem;
        line-height: 3.5rem;
      }
    }
    .contact-main-content {
      min-height: 100vh;
      flex-direction: column;
      flex-wrap: nowrap;

      .contact-information-card {
        min-height: 80vh;
        padding: 3rem;
        flex-wrap: wrap;
        max-width: 700px;
        margin-bottom: 3rem;

        .circle {
          clip-path: circle(14rem at 94% 92%);
        }
        .circle-one {
          clip-path: circle(13rem at 100% 97%);
        }
        .circle-two {
          clip-path: circle(9rem at 97% 97%);
        }
        .information-heading {
          .information-heading-one {
            font-size: 3.4rem;
          }
          .information-heading-two {
            font-size: 2rem;
            line-height: 2.5rem;
          }
        }
        .contact-details {
          min-height: 30vh;
          .details-box {
            i {
              font-size: 3rem;
            }
          }
          .contact-link {
            font-size: 2.2rem;
            margin-left: 0.5rem;
            padding: 0.9rem;
          }
        }
        .social-icons {
          left: 1rem;
          width: 45vw;
          .social-icon {
            padding: 1.3rem;
            i {
              font-size: 3rem;
            }
          }
        }
      }

      .form {
        width: 700px;
        padding: 4rem;
        min-height: 100vh;
        .input-group {
          height: 4rem;
          
          &:hover label {
            bottom: 1rem;
          }
          input {
            font-size: 2.2rem;
          }
          input:focus ~ label,
          input:valid ~ label {
            transform: translateY(-3rem);
            color: rgb(0, 112, 74);
          }
          label {
            font-size: 2rem;
          }
          textarea {
            padding: 0.8rem;
            font-size: 2.2rem;
            &::placeholder{
                font-size: 2rem;
            }
          }
        }
        .textarea-group {
          min-height: 10rem;
        }
        button[type="submit"] {
          padding: 1.4rem 0.2rem;
          font-size: 2.5rem;
          text-align: center;
          margin-top: 5rem;
        }
      }
    }
  }
  .navigation-buttons {
    .backward,
    .forward {
      font-size: 3rem;
      padding: 2rem;
      .arrows {
        font-size: 3rem;
      }
    }
  }
}
