@media (min-width: 390px) and (max-width: 430px) {
    .navigation {
      ul {
        height: 80vh;
        margin-top: 5rem;
        a {
          font-size: 4.5rem;
          &::before {
            font-size: 5rem;
          }
        }
      }
    }
    .pandemic {
      padding: 0.6rem;
      min-height: 5vh;
      
      p {
        font-size: 0.85rem;
      }
    }
    .header {
      padding: 0 1rem;
      header {
        padding: 0.5rem;
        .logo {
          display: flex;
          img{
            max-height: 3rem;
          }
        }
        ul {
          .toggle {
            width: 40px;
            height: 35px;
            max-width: 40px;
            right: 3rem;
            top: 2.2rem;
            background-size: 22px;
          }
        }
      }
    }
    /* HOME PAGE START */
    .hero {
      flex-direction: column;
      padding: 1.5rem;
      .circle {
        clip-path: circle(11rem at 50% 15%);
      }
      .content {
        order: 0;
        margin-top: 3rem;
        .punch-line {
          font-size: 2rem;
        }
        .informative {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
      }
      .image-box {
        margin-bottom: 5rem;
        order: -1;
        img {
          max-width: 250px;
        }
      }
      .menu {
        a {
          font-size: 1rem;
          padding: 0.8rem;
        }
      }
      .thumbnail {
        bottom: 40%;
        width: 70vw;
        left: 50%;
        li {
          img {
            max-width: 80%;
          }
        }
      }
    }
    /* HOME PAGE END */
    /* NEW PAGE START */
  
    .whats-new-header,
    .about-header {
      min-height: 30vh;
      background-position: 50% 20%;
      .hero-heading {
        font-size: 3rem;
      }
    }
    .whats-new-main {
      .main-heading {
        padding: 2rem;
        display: flex;
        justify-content: center;
        h2 {
          font-size: 2.5rem;
          margin: 3rem 0 0 0;
          text-align: center;
        }
      }
      .main-content {
        padding: 2rem;
        .main-card {
          flex-direction: column;
          min-height: 70vh;
          .main-card-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            h3 {
              font-size: 1.7rem;
              margin-bottom: 1rem;
              text-align: center;
            }
            p {
              font-size: 1.2rem;
              line-height: 1.7rem;
              text-align: justify;
            }
          }
          img {
            max-width: 95%;
            border-radius: 1rem;
  
            order: -1;
          }
        }
      }
    }
    /* NEW PAGE END */
    /* MENU PAGE START */
    .mobile-menu {
      position: fixed;
      display: flex;
      justify-content: space-evenly;
      width: 90%;
      padding: 0.4rem 0.5rem;
      bottom: 2rem;
      left: 50%;
      transform: translateX(-50%);
      background: rgb(0, 112, 74);
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      border-radius: 1rem;
      z-index: 1;
      transition: 0.3s;
      
      .menu-items{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;
          min-height: 7vh;
          word-wrap: break-word;
          max-width: 10%;
          i{
              font-size: 1.4rem;
              color: gold;
          }
          .menu-names{
              color: #fff;
              font-size: 0.9rem;
          }
      }
    }
    .menu-main {
      .menu-main-heading {
        h2 {
          font-size: 2.5rem;
          margin: 3rem 0 1rem 0;
        }
      }
    }
    .menu-main-content {
      flex-direction: column;
      padding: 2rem;
      .side-nav {
          display: none;
        width: 100%;
        .sidebar-btn {
          font-size: 1rem;
          max-width: 100%;
        }
      }
      .products-container {
        width: 100%;
        flex-direction: column;
        .product-card {
            margin-bottom: 5rem;
            h3{
                font-size: 1.5rem;
                text-align: center;
            }
            h4{
                font-size: 1.1rem;
                line-height: 1.5rem;
                text-align: justify;
            }
            h5{
                font-size: 1.1rem;
            }
          img {
            max-width: 230px;
            margin-bottom: 2rem;
          }
        }
      }
    }
    /* MENU PAGE END */
    /* ABOUT PAGE START */
    .about {
      .mission,
      .company,
      .coffee {
        flex-direction: column;
        margin-bottom: 10rem;
        min-height: 75vh;
        img {
          max-width: 90%;
          border-radius: 1rem;
          order: -1;
        }
        .accordions {
          max-width: 90%;
          min-height: 18vh;
          .accordion {
            .content-box {
              .accordion-label {
                font-size: 1.5rem;
                padding: 1rem;
                &::before {
                  font-size: 2rem;
                }
              }
              .accordion-content {
                font-size: 1.2rem;
                
              }
            }
          }
        }
      }
    }
    /* ABOUT PAGE END */
    .contact-header {
      background-position: 30% 27%;
    }
    .contact {
      padding: 5rem 2rem;
      .feedback-text-box {
        align-items: flex-start;
        .feedback {
          font-size: 1.7rem;
          line-height: 2.2rem;
        }
      }
      .contact-main-content {
        min-height: 100vh;
        flex-direction: column;
        flex-wrap: nowrap;
        
        .contact-information-card {
          min-height: 50vh;
          padding: 2rem 1.4rem;
          flex-wrap: wrap;
          max-width: 300px;
          margin-bottom: 3rem;
          .circle-two {
            clip-path: circle(2rem at 97% 97%);
          }
          .circle-one {
            clip-path: circle(4rem at 100% 97%);
          }
          .circle {
            clip-path: circle(5rem at 94% 94%);
          }
          .information-heading {
            .information-heading-one {
              font-size: 1.7rem;
            }
            .information-heading-two {
              font-size: 1rem;
              line-height: 1.3rem;
            }
          }
          .contact-details {
              min-height: 18vh;
            .details-box {
              i {
                font-size: 1.3rem;
              }
            }
            .contact-link {
              font-size: 1rem;
              margin-left: 0.5rem;
              padding: 0.5rem;
              
            }
          }
          .social-icons {
            left: 1rem;
            width: 44vw;
            .social-icon {
              padding: 0.6rem;
              i {
                font-size: 1.3rem;
              }
            }
          }
        }
  
        .form {
          max-width: 300px;
          min-height: 65vh;
          .input-group {
            height: 3rem;
            label {
              font-size: 1.1rem;
            }
            textarea {
              padding: 0.8rem;
            }
          }
          button[type="submit"] {
            padding: 0.5rem 0.2rem;
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }
    .navigation-buttons {
      .backward,
      .forward {
        font-size: 1.5rem;
        padding: 1rem;
        .arrows {
          font-size: 1.2rem;
        }
      }
    }
  }
  